
{% extends 'base.html' %}
{% block content %}
{% load static %}

        <h1>Sugahfree</h1>
        
            <img src="{% static 'images/donuts.jpg' %}" class="center" alt="Donuts">
        
        <p style="color:#e41d8b;">"As a diabetic, I want to be able to keep track of my insulin & carbs intake so that I can live a longer healthier life."</p>
        
     
        {% if request.user.is_authenticated %}
        
            <div>
                <h3>Add a New Entry</h3>
                <form data-user= {{ user.id }} id='input-form' method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Add Info</button>
                </form>
                </div>
            {% else %}
            <li><a href="/login">Log In</a></li>
        
        {% endif %}

        
            <div id='results'></div>
    </body>

    <!-- <div id="container">
        <!-- <p id="edit"><b> Click "Edit" button to edit content. </b></p> -->
        <!-- <button type="submit" id="edit-button">EDIT</button>
      </div> -->
</html>
{% endblock %}