
{% extends 'home_base.html' %}

{% block home_base_content %}
{% load static %}

        <h1>Sugahfree</h1>
        
            <img src="{% static 'images/donuts.jpg' %}" class="center" alt="Donuts">
        
        <p class="userstory">"As a diabetic, I want to be able to keep track of my insulin & carbs intake so that I can live a longer healthier life."</p>
        
     
        {% if request.user.is_authenticated %}
        
            <div>
                <h3 id="action-entry">Add a New Entry</h3>
                <form data-user={{ user.id }} id='input-form' method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Add Info</button>
                </form>
                </div>
                <div class="hidden" id="actions">
                    <button class="hidden" type="submit" id="edit-button">Submit Updated Info</button>
                    <button class="hidden" type="submit" id="add-new-entry-button">Add a New Entry</button>
                </div>
                
        {% endif %}

    </body>

</html>
{% endblock %}