{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <title>Sugahfree</title>
</head>
<body>
    <div class="topnav">
        {% if request.user.is_authenticated %}
        <div>{{ user.username }}</div>
        <a class="active" href="{% url 'home' %}">Home</a>
        <a class="center" href="/accounts/logout">Log Out</a>
        <a class="center" href="{% url 'main_list' %}">Main List</a>


        {% else %}
        <a class="center" href="/accounts/login">Login</a>
        {% endif %}
        
      </div>
    {% block content %}
    {% endblock %}
</body>
</html>