{% extends 'base.html' %}
{% block content %}
<div class="topnav">
    {% if request.user.is_authenticated %}
    
    <nav class="nav-center"  class="pa3 pa4-ns">
        <div class=" dark-blue b">Welcome, {{ user.username }}</div>
        <div>
            <a class="link dark-blue b f6 f5-ns dib mr3" href="{% url 'home' %}">Home</a>
            <a class="link dark-blue b f6 f5-ns dib mr3" href="{% url 'main_list' %}">Entry Log</a>
            
        </div>
        <div>
            <a class="link dark-blue b f6 f5-ns dib mr3" href="/accounts/logout">Log Out</a>
        </div>
    </nav>

    {% else %}
    <div class="login-center">
        <a class="dark-blue b" href="/accounts/login">Login</a>
    </div>
    {% endif %}
    
  </div>
  
{% block home_base_content %}
{% endblock %}
{% endblock %}
